<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <property resource="application.properties"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <springProfile name="!local">
      <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        <providers>
          <timestamp/>
          <version/>
          <loggerName/>
          <logLevel/>
          <mdc/>
          <threadName/>
          <message/>
        </providers>
        <customFields>{"app":"${lion.application.name}"}</customFields>
      </encoder>
    </springProfile>
    <springProfile name="local">
      <encoder>
        <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg %n</pattern>
      </encoder>
    </springProfile>
  </appender>

  <logger name="org.apache.http" level="WARN">
    <appender-ref ref="STDOUT"/>
  </logger>

  <logger name="jsonLogger" additivity="false" level="INFO">
    <appender-ref ref="STDOUT"/>
  </logger>

  <logger name="org.hibernate" level="WARN">
    <appender-ref ref="STDOUT"/>
  </logger>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>